body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin: 0;

}
p {
  font-size: 18px;
}
.img-avatar {
  border-radius: 50%;
  border: 1px solid white;
}
.hover-text:hover {
  color: hsl(178, 100%, 50%) !important;
}
@media screen and (max-width: 1440px) and (min-width: 375px) {
  p {
    font-size: 14px;
  }
  .row {
    padding: 30px;
  }
  .img-avatar {
    border-radius: 50%;
    border: 1px solid white;
    height: 40px;
    margin-top: 10px;
  }
}
